# project-specific
RCMB56-ht/
RCMB56-pdx/
P85/
2021-06-23_Mariya-rotation-materials/
2021-08-27_Kazachkova/Kazachkova_rotation_sp21/

# large data
*.xlsx
*.Rda

# images
*.svg
*.png
*.pdf

# R
*.rds

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython notebook
.ipynb_checkpoints

# Repo scratch directory
scratch/

# Misc
.DS_Store
